footer.page-footer.orange
  .container
    .row
      .col.l6.s12
        h5.white-text
        p.grey-text.text-lighten-4
          a(href='https://www.npmjs.com/package/katrine', target='_blank') Katrine NPM
      .col.l3.s12
        h5.white-text Integration
        ul
          li
            a.white-text(href='https://github.com/AsterAInpm/katrine', target='_blank') Documentation
          li
            a.white-text(href='https://github.com/AsterAInpm/katrine/issues', target='_blank') ISSUES REPORT
      .col.l3.s12
