footer.page-footer.orange
  .container
    .row
      .col.l6.s12
        h5.white-text Company Bio
        p.grey-text.text-lighten-4
          | We are team that makes cognitive toolkit for global markets. Our machine - AsterAI. Built based
          | on AI technology. And allow you to generate tons of user and SEO friendly text content.
      .col.l3.s12
        h5.white-text Integration
        ul
          li
            a.white-text(href='#!') Documentation

      .col.l3.s12
        h5.white-text Contacts
        ul
          li
            a.white-text(href='https://www.facebook.com/Aster-AI-1889454604694802/' target='_blank') Facebook
          li
            a.white-text(href='mailto:asterai.com@gmail.com') EMAIL

  .footer-copyright
    .container
      | Email as
      a.orange-text.text-lighten-3(href='mailto:asterai.com@gmail.com') asterai.com@gmail.com
