#index-banner.section.no-pad-bot
  .container
    br
    br
    h1.header.center.orange-text WRITE SERVERS WITH TYPESCRIPT
    .row.center
      h5.header.col.s12.light Typescript based node.js framework. For development lightweight server apps.
    .row.center
      a#download-button.btn-large.waves-effect.waves-light.orange(href='https://github.com/AsterAInpm/katrine') Get Started
    br
    br

.container
  .section
    // Icon Section
    .row
      .col.s12.m4
        .icon-block
          h2.center.light-blue-text
            i.material-icons flash_on
          h5.center Increases Your speed
          p.light
            |
      .col.s12.m4
        .icon-block
          h2.center.light-blue-text
            i.material-icons group
          h5.center Developer Experience Focused
          p.light
            |
      .col.s12.m4
        .icon-block
          h2.center.light-blue-text
            i.material-icons settings
          h5.center Easy to work with
          p.light
            |

